<div class="jumbotron">
    <h5>About App</h5>
    <h2>Motionpins </h2>
    <p> 
        Motionpins is exactly Pinterest for holiday and culinary events. 
        Pinterest really attracted crowds of travers
        who are traveling and culinary with lots of new food and places all over the world,
        so someone decides that we should get a site that serves them specifically. 
        Of course, not only a traveler or a pencier, 
        a tourist entertainment industry and restaurant can also use this application, 
        just as travelers and culinary lovers can use Pinterest, 
        but Motionpins focuses more on things that are liked by travelers and culinary lovers.
    </p>
</div>
