<div class="jumbotron">
    <h3>About Me</h3>

    <p> 
        my name is brother maruli, 
        i am ceo clone-clone, i am 1 year in the web developer to develop webs and 
        mobile applications
    </p>
</div>
