<div class="jumbotron center">
    <h3>Wellcome To Clone Pinterested :)</h3>

    <p>Prety Cool, don't you think</p>

    <%= link_to 'Login', new_user_session_path, class:"btn btn-default" %>
    <%= link_to 'Join', new_user_registration_path, class:"btn btn-primary" %>

</div>
