// Place all the styles related to the pins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#pins {
    margin: 0 auto;
    padding: 5px;
    margin-bottom: 20px;
    border-radius: 5px;
    clear: both;
    -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
            border-radius: 5px;
   }
 
  .box {
    margin: 5px;
    width: 214px;
   }
 
  .box img {
    width: 100%;
   }
